# Ignore everything by default to avoid accidentally including sensitive files in the image, then explicitly include only what we need to run the app.
*

!Dockerfile
!server/.mvn/
!server/.mvn/**
!server/src/
!server/src/**
!server/mvnw
!server/pom.xml

!client/public/
!client/public/**
!client/src/
!client/src/**
!client/index.html
!client/package.json
!client/pnpm-lock.yaml
!client/tsconfig.app.json
!client/tsconfig.json
!client/tsconfig.node.json
!client/vite.config.ts



